body {
	background-color: red;
}

h1 {
	color: #00c281;
}

.divWrapper {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
}

.ul {
	grid-column: 9/10;
}

@media only screen and (max-width: 600px) {
	body {
		background-color: lightblue;
	}

	.divWrapper {
		display: none;
	}
}